@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');
a {
    text-decoration: none;
}

body {
    background:#6495ED;
    font-family: Quicksand, Sans-serif;
}

label {
    font-family: Quicksand, Sans-serif;
    font-size: 11pt;
}

#lupa-pass {
    color: #008B8B;
    font-size: 10pt;
    margin-top: 3px;
    text-align: right;
}

#card {
    background: #fbfbfb;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    height: 410px;
    margin: 6rem auto 8.1rem auto;
    width: 330px;
}

#card-content {
    padding: 12px 44px;
}

#card-title {
    letter-spacing: 4px;
    padding-bottom: 23px;
    padding-top: 13px;
    text-align: center;
}

#signup {
    color: #008B8B;
    font-size: 10pt;
    margin-top: 16px;
    text-align: center;
}

#back {
    color:#483D8B;
    font-size: 10pt;
    margin-top: 10px;
    text-align: center;
    font-style: bold;
}

#submit-btn {
    background: -webkit-linear-gradient(right, #6495ED, #008B8B);
    border: none;
    border-radius: 21px;
    box-shadow: 0px 1px 8px #008B8B;
    cursor: pointer;
    color: white;
    height: 42.3px;
    margin: 0 auto;
    margin-top: 30px;
    transition: 0.25s;
    width: 153px;
}

#submit-btn:hover {
    box-shadow: 0px 1px 18px #00FFFF;
}

.form {
    align-items: left;
    display: flex;
    flex-direction: column;
}

.form-border {
    background: -webkit-linear-gradient(right, #6495ED, #008B8B);
    height: 1px;
    width: 100%;
}

.form-content {
    background: #fbfbfb;
    border: none;
    outline: none;
    padding-top: 14px;
}

.garis {
    background: -webkit-linear-gradient(right, #6495ED, #008B8B);
    height: 2px;
    margin: -1.1rem auto 0 auto;
    width: 89px;
}

@media screen and (max-width: 1000px) {

}